@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);


body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat
}

.card {
    background-image: url("https://i.imgur.com/dpqZJV5.jpg");
    background-size: cover;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px
}

.time-font {
    font-size: 50px
}

.sm-font {
    font-size: 18px
}

.med-font {
    font-size: 28px
}

.large-font {
    font-size: 60px
}

.city-feat{
    text-align: right;
}

/* Search button CSS */

.wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .searchTerm {
    width: 50%;
    /* border: 3px solid #00b4cc; */
    border: none;
    padding: 16px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 18px;
  }
  
  .searchTerm:focus {
    color: #00b4cc;
  }
  
  .searchButton {
    width: 80px;
    height: 32px;
    border: none;
    background: #048b9c;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-size: 16px;
    margin-top:0px;
  }
  
  .searchButton:hover {
    background-color: #17b8ce;
  }
